
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 40%;
    margin-top: 50px;
    position: relative;

}


.image img{
    width: 100%;
}

.modals{
    display: flex;
    justify-content: center;
}


.image i{
    position: absolute;
    right: 0px;
    font-size: 50px;
    color: brown;
    cursor: pointer;
    border-radius: 50%;
    background-color: aliceblue;
    padding: 5px;
}